[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StratifiedMedicine"]
	path = StratifiedMedicine
	url = https://github.com/thomasjemielita/stratifiedmedicine
